.image-zoom-drag-parent-active {
  overflow: hidden;
  line-height: 0;
}

.image-zoom-drag-active {
  will-change: transform;
  transition: transform 0.1s ease-out;
  position: relative;
  z-index: 100;
}